header {
	background-color: #FDD005;
	margin-bottom: 5%;
}

header img {
	margin: .5%;
	width: 70px;
}

i {
	font-size: 3em;
}

sub {
	color: #b3b3b3;
}

#img-visitant {
	width: 700px;
	height: 500px;
}

#create-photo {
	display: none;
}